*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 87.5%/1.5em 'Lato', sans-serif;
}

.app {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 20px;

  .input {
    margin-bottom: 20px;
  }

  input {
    padding: 7px 8px;
    font-size: 14px;
    width: 100%;
  }
}
