@import 'variables';

.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}

.calendar {
  display: inline-block;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }

  thead {
    color: @color-blue;
    font-weight: 700;
    text-transform: uppercase;
  }

  td {
    padding: 9px 12px;
    text-align: center;
    cursor: pointer;
    color: @color-gray;
    border-radius: 23px;

    &:hover {
      background: #cacaca;
      color: #fff;
    }
  }

  .current-day {
    color: @color-blue;
  }

  .toolbar {
    line-height: 30px;
    color: @color-blue;
    text-align: center;
    margin-bottom: 7px;

    button {
      position: relative;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #ffffff;
      border: 1px solid @color-blue;
      border-radius: 50%;
      background: @color-blue;
      font-size: 20px;
      padding: 0;
      text-align: center;
      outline: 0;
      z-index: 5;
      cursor: pointer;
    }

    .prev-month {
      float: left;
    }

    .next-month {
      float: right;
    }

    .current-date {
    }
  }
}
