@color-active: #00a8bb;

.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}

.calendar {
  background: #515766;
  color: #555;
  display: inline-block;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }
}

.calendar thead {
  color: @color-active;
  font-weight: 700;
  text-transform: uppercase;
}

.calendar td {
  padding: 9px 12px;
  text-align: center;
  cursor: pointer;
  color: #f6f6f6;
  border-radius: 23px;
}

.calendar tbody td:hover {
  background: #cacaca;
  color: #fff;
}

.current-day {
  color: @color-active;
}

.toolbar {
  line-height: 30px;
  color: #959bab;
  text-align: center;
  margin-bottom: 7px;

  button {
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #959bab;
    border: 1px solid #424857;
    border-radius: 50%;
    background: #515766;
    font-size: 20px;
    padding: 0;
    text-align: center;
    outline: 0;
    z-index: 5;
    cursor: pointer;
  }

  .prev-month {
    float: left;
  }

  .next-month {
    float: right;
  }

  .current-date {
  }
}
