@import 'variables';
@import "calendar";
@import "input-slider";

.m-input-moment {
  padding: 18px;
  background: #515766;
  border-radius: 3px;

  .options {
    width: 100%;
    display: inline-block;
    border: 1px solid #414756;
    border-radius: 3px;
    margin-bottom: 4px;
  }

  .option {
    float: left;
    width: 50%;
    text-align: center;
    color: #959bab;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;

    .text {
      margin-left: 6px;
    }

    &.is-active {
      background-color: #414756;
    }
  }

  .tab {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .tabs {
    margin-bottom: 11px;
  }

  .btn-save {
    display: block;
    border: 0;
    width: 100%;
    background-color: #00a8bb;
    padding: 15px 0;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
  }
}

.m-time {
  margin-top: 7px;
  margin-bottom: 9px;
  color: #989eb0;

  .showtime {
    text-align: center;
  }

  .time {
    display: inline-block;
    font-size: 32px;
    background-color: #414756;
    padding: 18px 9px;
    border-radius: 3px;
  }
}